.container {
  background: #2c2f48;
  box-shadow: inset 1px 0px 0px rgba(255, 255, 255, 0.1);
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}
