.container {
  max-width: 600px; /* Aumentamos el ancho máximo del contenedor */
  margin: auto; /* Centramos el contenedor horizontalmente */
  padding: 40px; /* Aumentamos el espacio interno del contenedor */
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 50px;
}

.form-group {
  margin-bottom: 20px;
}

.label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px; /* Agregamos espaciado entre inputs */
}

.input[type="text"],
.input[type="date"],
.input[type="number"] {
  width: 100%;
  max-width: 300px;
}

.select-container {
  width: 100%;
}

.select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px; /* Agregamos espaciado entre selects */
}

.genres-list,
.platforms-list {
  display: flex;
  flex-wrap: wrap;
}

.genres-item,
.platforms-item {
  display: flex;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 5px;
  background-color: #e4e4e4;
  padding: 5px 10px;
  border-radius: 5px;
}

.genres-item p,
.platforms-item p {
  margin-right: 5px;
}

.genres-item button,
.platforms-item button {
  border: none;
  background-color: transparent;
  color: red;
  cursor: pointer;
}

.error {
  color: red;
  margin-top: 5px;
}

.button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
